<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

.navbar-brand {
  margin-right: 750px;
}


</style>

<p id="notice"><%= notice %></p>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><strong>Sketcher</strong></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-sm"><a class="nav-link" href="/comments/">Latest</a></button>
      </li>
      <li>
        <button class="btn btn-sm" style="margin-left: 1em;"><a class="nav-link" href="/pieces/new/">Upload</a></button>
      </li>
    </ul>
  </div>
  </div>
</nav>

<br>

<div class="container">
  <div class="card-columns">
    <% @pieces.each do |piece| %>
      <div class="card">
        <%= link_to image_tag(piece.url), piece%>
      </div>
    <% end %>
  <!-- </div> -->
</div>

<br>

<a class="jump_up" href="#"><type="button" class="btn btn-secondary btn-lg btn-block">Top</button></a>
