<p id="notice"><%= notice %></p>

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Sketch.com</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li></li>
      <li></li>
      <li></li>
      <li class="nav-item">
        <a class="nav-link" href="/pieces/new/">Create</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

<br>

<div class="container">
  <div class="row">
    <% @pieces.each do |piece| %>
      <div class="col-md-4">
        <%= link_to image_tag(piece.url), piece %>
      </div>
    <% end %>
  </div>
</div>

<br>

<a class="jump_up" href="#"><type="button" class="btn btn-secondary btn-lg btn-block">Top</button></a>
