<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding-top: 1em;
}

.actions {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
</style>

<div class="header">
  <h1>New Piece</h1>
</div>

<div>
  <%= render 'form', piece: @piece %>
</div>

<div>
  <button class="btn btn-secondary"><%= link_to 'Back', pieces_path%></button>
</div>
