/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

 * {
   display: flex;
   align-content: center;
   justify-content: center;
 }
